{
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "mocha": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "standard-with-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "script",
    "impliedStrict": true
  },
  "rules": {
    "no-console": 0,       // Means warning
    "prettier/prettier": 2, // Means error
    "@typescript-eslint/no-unused-vars": "warn",
    // to enforce using type for object type definitions, can be type or interface 
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "@typescript-eslint/await-thenable": "error"
  }
}