{
  "semi": false,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "singleQuote": true,
  "useTabs": true,
  "bracketSpacing": false,
  "tabWidth": 4,
  "printWidth": 80,
  "plugins": ["prettier-plugin-solidity"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": true,
        "singleQuote": true,
        "bracketSpacing": false,
        "compiler": "0.8.20"
      }
    }
  ]
}